{% extends 'base.html' %} 

{% block page_title %}Password Reset Page{% endblock %} 

{% block page_heading %}Reset Password{% endblock %} 

{% block content %}
<div class="container">
  <form method="POST">
     <p>Please enter your email address</p>
     
     {% csrf_token %}
     
     {{ form.email.error }}
     
     <p>
         <label for="id_email">Email address:</label>
         {{ form.email }}
         
         <button class="btn waves-effect waves-light cyan">Reset Password</button>
     </p>
 </form>
</div>
 
{% endblock %}
</p>