.navbar-form input, .form-inline input {
    width: auto;
}

body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.container{
    padding-top: 20px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color:  #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

h1, h1 a {
    color: #555555;
    text-decoration: none;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well{
    margin-top: 31px;
    min-height: 127px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand{
    padding: 10px 10px;
}

#logo {
    color: #12AB82;
}

.story-img {
    margin-top: 25%;
    display: block;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.boldtext{
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}