{% extends 'base.html' %}

{% block page_title %}Web Store{% endblock %}

{% block page_heading %}Welcome to the Web Store{% endblock %}


{% block content %}

    <div class="container">
        <h3>About This Page</h3>
        <p>The purpose of this page is to offer fellow web developers or people who don't want to code, to get a helping hand with their web issues
        by offering my services to them.</p> 
        <p>Any user will need to first <a href="{% url 'registration' %}">REGISTER</a> an account with the site to gain access to 
        to the store.</p> 
        <p>From here depending what they what done they can purchase my services, if the work is small and a simple bug fix it will be free
        but may take longer to be completed as it less of a pirortiy whereas more advance buys such as whole webpage will be comppletd quicker but at a 
        higher cost.</p>
        <h2>How the process works</h2>
        <p>First you find a service from the <a href="{% url 'products' %}">STORE</a>, which suits what you need help with i.e a simple bug fix</p>
        <p>Next you add this to cart follow the process to checkout, once you reach the checkout you will need to fill out your details.
        DON'T FORGET TO ADD relevant infomation in the order details box such as a quick overview of what you want done, any links to work and a contact email</p>
        <p>From here i will work on the project using any suggestion you have made, i can contact via phone,email or even skype which ever suits you, to get the best
        results you want</p>
        <p>Once the work has been completed i will sent back all work and you can leave a <a href="{% url 'new_post' %}">REVIEW</a> on how the process went</p>
         
    </div>
{% endblock %}

